* {
    padding: 0;
    margin: 0;
}

.body {
    height: 100vh;
    background-color: #79f694;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.NavBar {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    background-color: beige;
}

.Footer {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
    background-color: chartreuse;
}

.LeftSidePanel {
    grid-column: 1 / span 4;
    grid-row: 2 / span 10;
}

.RightSidePanel {
    grid-column: 9 / span 4;
    grid-row: 12 span 10;
}

.Content {
    grid-column: 5 / span 4;
    grid-row: 2 / span 10;
}